.App-ProfileAva {
    height: 240px!important;
    width: 240px!important;
    border: 9px solid cornflowerblue;
    border-radius: 125px!important;
    margin: 15px;
}
.App-AvaContainer {
    display: flex;
}

.App-AvaInfo {
    align-self: center;
 }