.App-ProfileAva {
    height: 240px!important;
    width: 240px!important;
    margin: 15px;
}
.App-AvaContainer {
    display: flex;
}

.App-AvaInfo {
    align-self: center;
 }

.App-AvaChanger {
    line-height: 240px;
}

.App-AvainputBlock {
    display: none;
}

.App-Profile__scoreIcon {
    margin-left: 5px;
}
@media screen and (max-width: 900px) {
    .App-ProfileAva {
        height: 80px!important;
        width: 80px!important;
        margin: 15px;
    }
}
