.App-TaskScreen-ListItem__mainBlock {
    display: flex;
    justify-content: space-between;
    height: 48px;
}

.App-TaskScreen-ListItem__mainBlock-title {
}

.App-TaskScreen-ListItem__mainBlock-caption {
    color: #a7a7a7;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 24px;
    width: 100%;
}

.App-TaskScreen-ListItem__mainBlock-container {
    width: 90%;
}

.App-TaskScreen-ListItem__mainBlock-date {
    line-height: 48px;
    width: 10%;
}

.App-TaskScreen-ListItem__mainBlock-closeDate {
    color: #e20000;
}

.App-TaskScreen-ListItem__taskScreen {
    width: 500px;
}

.App-TaskScreen-ListItem__exceptedTask {
    font-weight: bold;
    color: red;
}

.App-TaskScreen-ListItem__endedAva {
    background-color: darkseagreen !important;
}

.App-TaskScreen-ListItem__endedTask {
    background-color: #e7f6e1 !important;
}

.App-TaskScreen__container {
    width: 100%;
}

@media screen and (max-width: 900px) {
    .App-TaskScreen__container {
        width: fit-content;
    }
}
