.App-LeftMenu {
    width: 200px;
    left: 0;
    background-color: #d6d6d6;
    height: 100%;
    position: fixed;
}

.App-LeftMenu__UserName {
    margin-left: 12px;
}

@media screen and (max-width: 900px) {
    .App-LeftMenu {
        width: 130px;
    }
}
