.shopScreen_paper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    width: 300px;
    height: 100px;
}

.shopScreen_container {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: 150px auto 0 auto;
}

.testDiv {
    color: white
}
